.card-main{
width: 300px;
border: 1px solid ;
min-height: 300px;
border-radius: 20px;
overflow: hidden;
padding: 10px;
float: left;
margin: 20px;

}

.card-main h2{
   color: black;
}
.card-main h3{
    color: grey;
}