/* User.css */

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-user {
    margin-bottom: 20px;
    margin-top: 200px;
  }
  
  .image-user img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff; /* White border around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow */
  }
  
  .details {
    text-align: center;
  }
  
  table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  